<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Inside T-Rex.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5B6059F91E92BD2100E1F313</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5B605A0F1E92BD2100E1F313</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5B605A1A1E92BD2100E1F313</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
